@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@500&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Sofia+Sans:wght@500&display=swap');
body {
  margin: 0;
  font-family: "Sofia Sans", serif !important;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-image: linear-gradient(to left, rgb(13, 28, 97), rgb(10, 47, 68));
}
.orange-text {
  color: #F89C35;
  font-weight: bold;
}
